@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:wght@200;300;400;500&display=swap');

.experience_container{
    padding: 20px;
    background-color: black;
}
  .container{
    margin: 100px 25px;
}
.container h2{
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    color: rgb(255, 255, 255);
    text-align: center;
}
.container h2 span{
    font-size: 40px;
    font-family: "Madimi One", sans-serif; 
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.mockup{
    padding: 40px;
}
.mockup p{
    font-size: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
}
.mockup a{
    color: white;
    background-color: orange;
    padding: 10px 45px;
    border-radius: 10px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 1s ease;
}
.mockup a:hover{
    background-color: white;
    color: black;

}
.img{
    width:350px;
    height:230px;
}

@media all and (max-width:450px){
    .img{
        width:245px;
        height:170px;
    }

}