@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:wght@300;400;500&display=swap');

  /* font-family: "Roboto", sans-serif;
  font-family: "Madimi One", sans-serif; */
.container{
    margin: 100px 25px;
}

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_text{
    display: flex;
    flex-direction: column;
    max-width: 580px;
}
.main_pretitle h1{
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    color: black;
    font-weight: 300;
}
.main_pretitle h1 span{
    font-family: "Madimi One", sans-serif;
    color: orange;
    text-shadow: 
    2px 2px 0 rgb(0, 0, 0),
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0);
}
.main_title h2{
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    color: black;
    font-weight: 700;
}
.main_title h2 span{
    color: rgb(255, 255, 255);
    text-shadow: 
    2px 2px 0 rgb(0, 0, 0),
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0);
}
.main_title  p{
    color: #71717A;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
.main_buttons{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.main_buttons a {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: black;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    padding: 0; 
    transition: all 0.5s ease;
    border-radius: 5px;
}

.main_buttons a svg {
    width: 20px; 
    height: 20px; 
    transition: all 1s ease;
}
.main_buttons a:hover, 
.main_buttons a svg:hover {
background-color: orange;
color: white;
}

@media all and (max-width:820px){
    .main_container{
        flex-direction: column-reverse;
    }
    .container{
        margin: 47px 32px;
    }
    .main_pretitle h1{
        font-size: 40px;
    }
    .main_title h2{
        font-size: 30px;
    }
    
}